<html lang='en'>

  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>Admin</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">
    <link
      rel='shortcut icon'
      type='image/png'
      href='../assets/images/logos/favicon.png' />
    <link rel='stylesheet' href='/stylesheets/styles.min.css' />

  </head>

  <body>
    <!--  Body Wrapper -->
    <div
      class='page-wrapper'
      id='main-wrapper'
      data-layout='vertical'
      data-navbarbg='skin6'
      data-sidebartype='full'
      data-sidebar-position='fixed'
      data-header-position='fixed'>
      <!-- Sidebar Start -->
      <aside class='left-sidebar'>
        <!-- Sidebar scroll-->
        <div>
          <div
            class='brand-logo d-flex align-items-center justify-content-between'>
            <a href class='text-nowrap logo-img'>
              <img
                src='https://i.pinimg.com/originals/67/32/40/673240c24ec0685148cb37df5b7797eb.png'
                width='200' height="100" alt />
            </a>

            {{!-- <div
              class='close-btn d-xl-none d-block sidebartoggler cursor-pointer'
              id='sidebarCollapse'>
              <i class='ti ti-x fs-8'></i>
            </div> --}}
          </div>

          <!-- Sidebar navigation-->
          <nav class='sidebar-nav scroll-sidebar' data-simplebar>
            <ul id='sidebarnav'>

              {{!-- Link product --}}
              <li class='sidebar-item'>
                <a
                  class='sidebar-link'
                  href='/product'
                  aria-expanded='false'>
                  <span>
                    <i class='ti ti-layout-dashboard'></i>
                  </span>
                  <span class='hide-menu'>Product</span>
                </a>
              </li>
              {{!-- Link category --}}
              <li class='sidebar-item'>
                <a
                  class='sidebar-link'
                  href='/category'
                  aria-expanded='false'>
                  <span>
                    <i class='ti ti-layout-dashboard'></i>
                  </span>
                  <span class='hide-menu'>Category</span>
                </a>
              </li>

            </ul>

          </nav>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>
      <!--  Sidebar End -->
      <!--  Main wrapper -->

      <!--  Header Start -->
      <div class='body-wrapper'>
        <header class='app-header'>
          <nav class='navbar navbar-expand-lg navbar-light'>
            <div
              class='navbar-collapse justify-content-end px-0'
              id='navbarNav'>
              <ul
                class='navbar-nav flex-row ms-auto align-items-center justify-content-end'>

                <li class='nav-item dropdown'>
                  <a
                    class='nav-link nav-icon-hover'
                    href='javascript:void(0)'
                    id='drop2'
                    data-bs-toggle='dropdown'
                    aria-expanded='false'>
                    <img
                      src='/images/user-1.jpg'
                      alt
                      width='35'
                      height='35'
                      class='rounded-circle' />
                  </a>
                  <div
                    class='dropdown-menu dropdown-menu-end dropdown-menu-animate-up'
                    aria-labelledby='drop2'>
                    <div class='message-body'>
                      <a
                        href='javascript:void(0)'
                        class='d-flex align-items-center gap-2 dropdown-item'>
                        <i class='ti ti-user fs-6'></i>
                        <p class='mb-0 fs-3'>My Profile</p>
                      </a>
                      <a
                        href='javascript:void(0)'
                        class='d-flex align-items-center gap-2 dropdown-item'>
                        <i class='ti ti-mail fs-6'></i>
                        <p class='mb-0 fs-3'>My Account</p>
                      </a>
                      <a
                        href='javascript:void(0)'
                        class='d-flex align-items-center gap-2 dropdown-item'>
                        <i class='ti ti-list-check fs-6'></i>
                        <p class='mb-0 fs-3'>My Task</p>
                      </a>
                      <a
                        href='./authentication-login.html'
                        class='btn btn-outline-primary mx-3 mt-2 d-block'>Logout</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </header>
        <!--  Header End -->
        {{!-- Layout đến hết đây --}}
      </div>
    </div>

    {{{body}}}

    {{!-- Footer từ đây --}}
    <script src='javascripts/jquery.min.js'></script>
    <script src='javascripts/bootstrap.bundle.min.js'></script>
    <script src='javascripts/sidebarmenu.js'></script>
    <script src='javascripts/app.min.js'></script>
    <script src='javascripts/simplebar.js'></script>
  </body>

</html>