<div class='page-wrapper' id='main-wrapper' data-layout='vertical'
    data-navbarbg='skin6' data-sidebartype='full'
    data-sidebar-position='fixed' data-header-position='fixed'>
    <div class='body-wrapper'>

        <div class='container-fluid mt-4'>
            <div class='card'>
                <form action="/category/edit/{{ category._id }}" method="post">
                    <h1>Edit brand</h1>
                    Category name: <input type="text" name="name" id
                        value="{{ category.name }}"
                        required>
                    <br><br>
                    Category country: <input type="text" name="country" id
                        value="{{ category.country }}" required>
                    <br><br>
                    <input type="submit" value="Edit">
                </form>
            </div>
        </div>
    </div>
</div>